.grid-container {
    display: grid;
    grid-template-columns:auto auto auto auto;
    margin:10px;
    border-width:10px;
    grid-gap:10px;
  
  }

  .grid-cell{
    padding: 20px;
  }
  
  .item1 {
    background:#F5C6D6 ;
    grid-column: 1/5; 

  }
  .item2 {
    background:#EE2E84 ;
    
  }
  .item3 {
    background: #85CFD8 ;
    grid-column:
  }
  .item5 {
    background: #8DC63F ;
  }
  .item5 {
    background:#E76E34 ;
  }
  
  
  
  